.loader{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(#f30410, #e92bc0, #34D2AF);
    animation: animate 0.5s linear infinite;
}   
@keyframes animate {
    0%{transform: rotate(0deg);} 
    100%{transform: rotate(360deg);} 
}
.loader span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#f30410, #e92bc0, #34D2AF);
}
.loader span:nth-child(1){
    filter: blur(5px);
}
.loader span:nth-child(2){
    filter: blur(10px);
}
.loader span:nth-child(3){
    filter: blur(25px);
}
.loader span:nth-child(4){
    filter: blur(10px);
}
.loader::after{
    content: '';
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background: #8b8b8b;
    border-radius: 50%;
}