.container-itemList-cart {
    width: 80%;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
}

.container-itemList-cart h1 {
    margin-top: 150px;
    text-align: center;
    color: #34D2AF;
}


.clear-cart {
    padding: 10px 0;
}

.remove-product-cart-list {
    display: inline-block;
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
    font-size: 15px;
    border-radius: 3px;
}

.order-product-cart-list {
    display: inline-block;
    border: 0;
    padding: 4px 8px;
    background-color: rgb(37, 121, 60);
    color: #fff;
    font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
    font-size: 15px;
    border-radius: 3px;
}