@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --clr: #8b8b8b;
}

.container {
    position: relative;
    display: flex;
    color: #34D2AF;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}