
.footer-container {
    width: 100%;
    text-align: center;
}

.footer-distributed {
    background-color: #34D2AF;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 16px sans-serif;
    margin-top: 45px;
    padding: 45px 50px;
}

.footer-distributed a {
    display: inline-block;
}

.logo-linkedin {
    height: 70px;
    padding: 10px;
}