.container-categoria {
    display: inline-flex;
    padding-bottom: 150px;
}

.container-categoria-detail  {
    padding: 150px 0;
}
/* ----- Product Section ----- */
.product {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin: auto;
    padding: 2.5em 0;
    width: 50%;
    min-width: 200px;
    background-color: white;
    border-radius: 5px;
}
/* ----- Photo Section ----- */
.product-photo {
    position: relative;
}

.photo-container {
    position: absolute;
    left: -2.5em;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main-categoria {
    border-radius: 6px 6px 0 0;
    background-color: #34D2AF;
    background: radial-gradient(#74ffe1, #34D2AF);
    height: 300px;
}

.photo-main-categoria .controls {
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    color: #fff;
}
.photo-main-categoria .controls i {
    cursor: pointer;
}
.photo-main-categoria img {
    position: absolute;
    left: -3.5em;
    top: 2em;
    max-width: 110%;
    max-height: 1000px;
    filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
}
/* ----- Informations Section ----- */
.product-info {
    padding: 0.8em 0;
}
.title h1 {
    margin-bottom: 0.1em;
    color: #4c4c4c;
    font-size: 1.5em;
    font-weight: 900;
}
.title span {
    font-size: 0.7em;
    color: #a6a6a6;
}
.price {
    margin: 1.5em 0;
    color: #34D2AF;
    font-size: 1.2em;
}
.price span {
    padding-left: 0.15em;
    font-size: 2.9em;
}

.description {
    clear: left;
    margin: 2em 0;
}
.description h3 {
    margin-bottom: 1em;
}
.description ul {
    font-size: 0.8em;
    list-style: disc;
    margin-left: 1em;
}
.description li {
    text-indent: -0.6em;
    margin-bottom: 0.5em;
}

.cartel_oferta {
    color: #34D2AF;
    font-size:35px;
}